{{define "comments"}}
<section id="comments" class="theme-comments">
  <h2 class="spectrum-Heading spectrum-Heading--sizeL">{{.CommentCount}} Comments</h2>
  {{if .PendingComment}}<p class="spectrum-Body spectrum-Body--sizeS theme-comment-pending">Your comment is awaiting moderation: {{.PendingComment.Content}}</p>{{end}}
  {{if .Comments}}
    <ol class="theme-comment-list">
      {{range .Comments}}
        <li class="theme-comment">
          <p class="spectrum-Body spectrum-Body--sizeS theme-comment-meta"><strong>{{.Author}}</strong> <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "Jan 2, 2006"}}</time></p>
          <div class="spectrum-Body spectrum-Body--sizeM">{{.Content}}</div>
        </li>
      {{end}}
    </ol>
  {{else}}
    <p class="spectrum-Body spectrum-Body--sizeM">No comments yet</p>
  {{end}}
  <form method="post" action="/comment" class="theme-comment-form">
    <input type="hidden" name="post_id" value="{{.Post.ID}}">
    <input type="hidden" name="comment_csrf_token" value="{{.CommentToken}}">
    <div class="spectrum-Textfield theme-form-field">
      <label class="spectrum-FieldLabel" for="comment-author">Name</label>
      <input class="spectrum-Textfield-input" id="comment-author" name="author">
    </div>
    <div class="spectrum-Textfield theme-form-field">
      <label class="spectrum-FieldLabel" for="comment-email">Email</label>
      <input class="spectrum-Textfield-input" id="comment-email" name="email">
    </div>
    <div class="spectrum-Textfield theme-form-field">
      <label class="spectrum-FieldLabel" for="comment-url">URL</label>
      <input class="spectrum-Textfield-input" id="comment-url" name="url">
    </div>
    <p style="display:none"><label>Website <input name="website"></label></p>
    <div class="spectrum-Textfield theme-form-field theme-form-field--textarea">
      <label class="spectrum-FieldLabel" for="comment-content">Comment</label>
      <textarea class="spectrum-Textfield-input" id="comment-content" name="content"></textarea>
    </div>
    <button type="submit" class="spectrum-Button spectrum-Button--accent spectrum-Button--fill"><span class="spectrum-Button-label">Submit comment</span></button>
  </form>
</section>
{{end}}
