{{define "nav-menu"}}
{{if .Items}}
<nav>
  <ul>
    {{template "nav-menu-items" .Items}}
  </ul>
</nav>
{{end}}
{{end}}

{{define "nav-menu-items"}}
{{range .}}
<li><a href="{{.URL}}">{{.Label}}</a>{{if .Children}}<ul>{{template "nav-menu-items" .Children}}</ul>{{end}}</li>
{{end}}
{{end}}
