{{define "nav-menu"}}
{{if .Items}}
<nav class="theme-nav">
  <ul class="theme-nav-list">
    {{template "nav-menu-items" .Items}}
  </ul>
</nav>
{{end}}
{{end}}

{{define "nav-menu-items"}}
{{range .}}
<li class="theme-nav-item"><a class="spectrum-Link spectrum-Link--quiet" href="{{.URL}}">{{.Label}}</a>{{if .Children}}<ul class="theme-nav-sublist">{{template "nav-menu-items" .Children}}</ul>{{end}}</li>
{{end}}
{{end}}
