{{define "content"}}
<h1>{{.SiteTitle}}</h1>
{{range .Posts}}
  <article>
    <h2><a href="/{{.Slug}}">{{.Title}}</a></h2>
    <div>{{.Excerpt}}</div>
  </article>
{{else}}
  <p>No posts yet.</p>
{{end}}
{{end}}
